<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="renderer" content="webkit"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>12121</title>
</head>

<body>
	<form action="/" method="post" enctype="multipart/form-data">
		<input type="text" name="a">
		<input type="text" name="b">
		<input type="text" name="c">
		<input type="file" name="d">
		<button type="submit">提交</button>
	</form>
</body>
</html>